/* Set up the div blocks */
.div1 {
  border: 5px outset green;
  background-color: darkolivegreen;    
  text-align: center;
  }
  
.div2 {
  border: 2px outset green;
  background-color: mintcream;    
  text-align: center;
  }
  
/* Set up the body elements */
body {
  background-color: floralWhite;
}

/* h1, big bold, main header */
h1 {
  color: Green;
  text-align: float:left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  
h2 {
  color: forestgreen;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 15px;
}
  
h3 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
  
}
h4 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h5 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  
h6 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  
  
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}


  /* Buttons */
.btnStack {
  font-family: Oswald;
  background-color: ForestGreen;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 12px 60px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
a.btnStack:hover {
  background-color: #000;
  color: #fff;
}
  
