.div1 {
  border: 5px outset green;
  background-color: darkolivegreen;    
  text-align: center;
  }
  
.div2 {
  border: 2px outset green;
  background-color: lightgreen;    
  text-align: center;
  }
  
body {
  background-color: floralWhite;
}

h1 {
  color: Green;
  text-align: float:left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  
h2 {
  color: forestgreen;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 15px;
}
  
h3 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
  
}
h4 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h5 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  
h6 {
  color: Green;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}
  
  
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}
  
.btnStack {
  font-family: Oswald;
  background-color: ForestGreen;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 12px 25px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
a.btnStack:hover {
  background-color: #000;
  color: #fff;
}
  
