/* use for title block */
.title {
  border: 3px outset green;
  background-color: floralwhite;    
  text-align: center;
  text-decoration: underline green;
}


/* picture alignment with floating and padding for text*/
.imgleft {
  float:left;
  padding: 10px;
}

.imgright {
  float:right;
  padding: 10px;
}

/* contains overflow of element */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
  
/* Set up the body elements */
body {
  background-color: floralWhite;
}

/* h1, big bold, main header */
h1 {
  color: Seagreen;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  font-family: times;
}

/* h2, smaller sub title */
h2 {
  color: Seagreen;
  text-align: center;
  font-size: 20px;
  font-family: times;
}

/* paragraph titles */
h3  {
  color: Seagreen;
  text-align: left;
  font-size: 22px;
  font-family: times;
  text-decoration: underline;
}


h4  {
  color: Seagreen;
  text-align: left;
  font-size: 22px;
  font-family: times;
}


p {
  font-family: times;
  font-size: 16px;
  line-height: 1.6;
}
  
 
   /* Buttons */

.btn1 {
 font-family: times;
  background-color: ForestGreen;
  display: inline-block;
  padding: 12px 90px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  border: 3px solid transparent;
}
 
.btn2 {
  font-family: times;
  background-color: ForestGreen;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: 12px 60px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 2px;
}
  /* Buttons Hovering Colour change*/
a.btn1:hover {
  background-color: #000;
  color: #fff;
}
a.btn2:hover {
  background-color: #000;
  color: #fff;
}
  
